/* colors:
    #23374d dark blue
    #1089ff blue
    #e5e5e5 white
*/

body{
    background: #23374d;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#container{
    /* display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 10px;
    width: 100%; */
}
#container > *{
    padding: 10px;
    background: #1089ff;
    margin: auto 20px;
}
#practice h2{
    text-align: center;
}
h1{
    text-align: center;
    color: #e5e5e5;
}
p{
    text-align: center;
}